.Button {
    --Button-bg: var(--color-secondary-action-bg);
    --Button-fg: var(--color-secondary-action-fg);

    background-color: var(--Button-bg);
    color: var(--Button-fg);
    border: var(--1px) solid var(--Button-fg);
    box-shadow: 0 0 var(--1px) 0 var(--Button-fg);

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-xs) var(--size-md);
    border-radius: var(--size-md);
    gap: var(--size-md);
    transition: box-shadow 100ms, color 100ms, background-color 100ms;
}
.Button + .Button {
    /* Ensure two adjacent buttons have a border that overlaps on the left side */
    margin-left: calc(-1 * var(--1px));
}
.Button:hover {
    --Button-bg: var(--color-secondary-action-hover-bg);
    --Button-fg: var(--color-secondary-action-hover-fg);
}
.Button:disabled {
    --Button-bg: var(--color-secondary-action-disabled-bg);
    --Button-fg: var(--color-secondary-action-disabled-fg);
    cursor: default;
}
.Button:focus {
    outline-width: var(--size-xs);
    z-index: 0;
}
.Button-primary {
    --Button-bg: var(--color-primary-action-bg);
    --Button-fg: var(--color-primary-action-fg);
}
.Button-primary:hover {
    --Button-bg: var(--color-primary-action-hover-bg);
    --Button-fg: var(--color-primary-action-hover-fg);
}
.Button-primary:disabled {
    --Button-bg: var(--color-primary-action-disabled-bg);
    --Button-fg: var(--color-primary-action-disabled-fg);
}

.Button-sm {
    font-size: var(--font-sm);
    padding: var(--size-sm) var(--size-md);
    border-radius: var(--size-md);
}
