/* Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Typographic tweaks! */
html {
    font-size: var(--font-md);
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-normal);
  color: var(--color-normal-fg);
  background-color: var(--color-normal-bg);
}
code,pre {
  font-family: var(--font-monospace);
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
a, p, h1, h2, h3, h4, h5, h6, code {
  overflow-wrap: break-word;
}

html, body {
    height: 100%;
}

/* General element styling */
p {
    margin: var(--em) 0;
}

/* Main application */
#app {
    height: 100%;
    isolation: isolate;
    background-color: var(--color-normal-bg);
    color: var(--color-normal-fg);
}

:root {
    --scale: 14;

    --hsl-l-light-4: 98%;
    --hsl-l-light-3: 96%;
    --hsl-l-light-2: 92%;
    --hsl-l-light-1: 84%;
    --hsl-l-light-0: 68%;
    --hsl-l-dark-4:  2%;
    --hsl-l-dark-3:  4%;
    --hsl-l-dark-2:  8%;
    --hsl-l-dark-1: 16%;
    --hsl-l-dark-0: 32%;

    --hsl-s-dark-4: 100%;
    --hsl-s-dark-3: 80%;
    --hsl-s-dark-2: 60%;
    --hsl-s-dark-1: 60%;
    --hsl-s-dark-0: 60%;

    --hsl-s-light-4: 100%;
    --hsl-s-light-3: 90%;
    --hsl-s-light-2: 80%;
    --hsl-s-light-1: 70%;
    --hsl-s-light-0: 60%;

    --hsl-red: -5deg;
    --hsl-orange: 30deg;
    --hsl-yellow: 58deg;
    --hsl-green: 129deg;
    --hsl-blue: 230deg;
    --hsl-purple: 274deg;

    --hsl-dark-4: var(--hsl-s-dark-4) var(--hsl-l-dark-4);
    --hsl-dark-3: var(--hsl-s-dark-3) var(--hsl-l-dark-3);
    --hsl-dark-2: var(--hsl-s-dark-2) var(--hsl-l-dark-2);
    --hsl-dark-1: var(--hsl-s-dark-1) var(--hsl-l-dark-1);
    --hsl-dark-0: var(--hsl-s-dark-0) var(--hsl-l-dark-0);
    --hsl-light-4: var(--hsl-s-light-4) var(--hsl-l-light-4);
    --hsl-light-3: var(--hsl-s-light-3) var(--hsl-l-light-3);
    --hsl-light-2: var(--hsl-s-light-2) var(--hsl-l-light-2);
    --hsl-light-1: var(--hsl-s-light-1) var(--hsl-l-light-1);
    --hsl-light-0: var(--hsl-s-light-0) var(--hsl-l-light-0);

    --color-dark-gray-0: hsl(0deg 0% var(--hsl-l-dark-0));
    --color-dark-gray-0-parts: 0deg 0% var(--hsl-l-dark-0);
    --color-dark-gray-1: hsl(0deg 0% var(--hsl-l-dark-1));
    --color-dark-gray-1-parts: 0deg 0% var(--hsl-l-dark-1);
    --color-dark-gray-2: hsl(0deg 0% var(--hsl-l-dark-2));
    --color-dark-gray-2-parts: 0deg 0% var(--hsl-l-dark-2);
    --color-dark-gray-3: hsl(0deg 0% var(--hsl-l-dark-3));
    --color-dark-gray-3-parts: 0deg 0% var(--hsl-l-dark-3);
    --color-dark-gray-4: hsl(0deg 0% var(--hsl-l-dark-4));
    --color-dark-gray-4-parts: 0deg 0% var(--hsl-l-dark-4);
    --color-light-gray-0: hsl(0deg 0% var(--hsl-l-light-0));
    --color-light-gray-0-parts: 0deg 0% var(--hsl-l-light-0);
    --color-light-gray-1: hsl(0deg 0% var(--hsl-l-light-1));
    --color-light-gray-1-parts: 0deg 0% var(--hsl-l-light-1);
    --color-light-gray-2: hsl(0deg 0% var(--hsl-l-light-2));
    --color-light-gray-2-parts: 0deg 0% var(--hsl-l-light-2);
    --color-light-gray-3: hsl(0deg 0% var(--hsl-l-light-3));
    --color-light-gray-3-parts: 0deg 0% var(--hsl-l-light-3);
    --color-light-gray-4: hsl(0deg 0% var(--hsl-l-light-4));
    --color-light-gray-4-parts: 0deg 0% var(--hsl-l-light-4);
    --color-dark-red-0: hsl(var(--hsl-red) var(--hsl-dark-0));
    --color-dark-red-0-parts: var(--hsl-red) var(--hsl-dark-0);
    --color-dark-red-1: hsl(var(--hsl-red) var(--hsl-dark-1));
    --color-dark-red-1-parts: var(--hsl-red) var(--hsl-dark-1);
    --color-dark-red-2: hsl(var(--hsl-red) var(--hsl-dark-2));
    --color-dark-red-2-parts: var(--hsl-red) var(--hsl-dark-2);
    --color-dark-red-3: hsl(var(--hsl-red) var(--hsl-dark-3));
    --color-dark-red-3-parts: var(--hsl-red) var(--hsl-dark-3);
    --color-dark-red-4: hsl(var(--hsl-red) var(--hsl-dark-4));
    --color-dark-red-4-parts: var(--hsl-red) var(--hsl-dark-4);
    --color-light-red-0: hsl(var(--hsl-red) var(--hsl-light-0));
    --color-light-red-0-parts: var(--hsl-red) var(--hsl-light-0);
    --color-light-red-1: hsl(var(--hsl-red) var(--hsl-light-1));
    --color-light-red-1-parts: var(--hsl-red) var(--hsl-light-1);
    --color-light-red-2: hsl(var(--hsl-red) var(--hsl-light-2));
    --color-light-red-2-parts: var(--hsl-red) var(--hsl-light-2);
    --color-light-red-3: hsl(var(--hsl-red) var(--hsl-light-3));
    --color-light-red-3-parts: var(--hsl-red) var(--hsl-light-3);
    --color-light-red-4: hsl(var(--hsl-red) var(--hsl-light-4));
    --color-light-red-4-parts: var(--hsl-red) var(--hsl-light-4);
    --color-dark-orange-0: hsl(var(--hsl-orange) var(--hsl-dark-0));
    --color-dark-orange-0-parts: var(--hsl-orange) var(--hsl-dark-0);
    --color-dark-orange-1: hsl(var(--hsl-orange) var(--hsl-dark-1));
    --color-dark-orange-1-parts: var(--hsl-orange) var(--hsl-dark-1);
    --color-dark-orange-2: hsl(var(--hsl-orange) var(--hsl-dark-2));
    --color-dark-orange-2-parts: var(--hsl-orange) var(--hsl-dark-2);
    --color-dark-orange-3: hsl(var(--hsl-orange) var(--hsl-dark-3));
    --color-dark-orange-3-parts: var(--hsl-orange) var(--hsl-dark-3);
    --color-dark-orange-4: hsl(var(--hsl-orange) var(--hsl-dark-4));
    --color-dark-orange-4-parts: var(--hsl-orange) var(--hsl-dark-4);
    --color-light-orange-0: hsl(var(--hsl-orange) var(--hsl-light-0));
    --color-light-orange-0-parts: var(--hsl-orange) var(--hsl-light-0);
    --color-light-orange-1: hsl(var(--hsl-orange) var(--hsl-light-1));
    --color-light-orange-1-parts: var(--hsl-orange) var(--hsl-light-1);
    --color-light-orange-2: hsl(var(--hsl-orange) var(--hsl-light-2));
    --color-light-orange-2-parts: var(--hsl-orange) var(--hsl-light-2);
    --color-light-orange-3: hsl(var(--hsl-orange) var(--hsl-light-3));
    --color-light-orange-3-parts: var(--hsl-orange) var(--hsl-light-3);
    --color-light-orange-4: hsl(var(--hsl-orange) var(--hsl-light-4));
    --color-light-orange-4-parts: var(--hsl-orange) var(--hsl-light-4);
    --color-dark-yellow-0: hsl(var(--hsl-yellow) var(--hsl-dark-0));
    --color-dark-yellow-0-parts: var(--hsl-yellow) var(--hsl-dark-0);
    --color-dark-yellow-1: hsl(var(--hsl-yellow) var(--hsl-dark-1));
    --color-dark-yellow-1-parts: var(--hsl-yellow) var(--hsl-dark-1);
    --color-dark-yellow-2: hsl(var(--hsl-yellow) var(--hsl-dark-2));
    --color-dark-yellow-2-parts: var(--hsl-yellow) var(--hsl-dark-2);
    --color-dark-yellow-3: hsl(var(--hsl-yellow) var(--hsl-dark-3));
    --color-dark-yellow-3-parts: var(--hsl-yellow) var(--hsl-dark-3);
    --color-dark-yellow-4: hsl(var(--hsl-yellow) var(--hsl-dark-4));
    --color-dark-yellow-4-parts: var(--hsl-yellow) var(--hsl-dark-4);
    --color-light-yellow-0: hsl(var(--hsl-yellow) var(--hsl-light-0));
    --color-light-yellow-0-parts: var(--hsl-yellow) var(--hsl-light-0);
    --color-light-yellow-1: hsl(var(--hsl-yellow) var(--hsl-light-1));
    --color-light-yellow-1-parts: var(--hsl-yellow) var(--hsl-light-1);
    --color-light-yellow-2: hsl(var(--hsl-yellow) var(--hsl-light-2));
    --color-light-yellow-2-parts: var(--hsl-yellow) var(--hsl-light-2);
    --color-light-yellow-3: hsl(var(--hsl-yellow) var(--hsl-light-3));
    --color-light-yellow-3-parts: var(--hsl-yellow) var(--hsl-light-3);
    --color-light-yellow-4: hsl(var(--hsl-yellow) var(--hsl-light-4));
    --color-light-yellow-4-parts: var(--hsl-yellow) var(--hsl-light-4);
    --color-dark-green-0: hsl(var(--hsl-green) var(--hsl-dark-0));
    --color-dark-green-0-parts: var(--hsl-green) var(--hsl-dark-0);
    --color-dark-green-1: hsl(var(--hsl-green) var(--hsl-dark-1));
    --color-dark-green-1-parts: var(--hsl-green) var(--hsl-dark-1);
    --color-dark-green-2: hsl(var(--hsl-green) var(--hsl-dark-2));
    --color-dark-green-2-parts: var(--hsl-green) var(--hsl-dark-2);
    --color-dark-green-3: hsl(var(--hsl-green) var(--hsl-dark-3));
    --color-dark-green-3-parts: var(--hsl-green) var(--hsl-dark-3);
    --color-dark-green-4: hsl(var(--hsl-green) var(--hsl-dark-4));
    --color-dark-green-4-parts: var(--hsl-green) var(--hsl-dark-4);
    --color-light-green-0: hsl(var(--hsl-green) var(--hsl-light-0));
    --color-light-green-0-parts: var(--hsl-green) var(--hsl-light-0);
    --color-light-green-1: hsl(var(--hsl-green) var(--hsl-light-1));
    --color-light-green-1-parts: var(--hsl-green) var(--hsl-light-1);
    --color-light-green-2: hsl(var(--hsl-green) var(--hsl-light-2));
    --color-light-green-2-parts: var(--hsl-green) var(--hsl-light-2);
    --color-light-green-3: hsl(var(--hsl-green) var(--hsl-light-3));
    --color-light-green-3-parts: var(--hsl-green) var(--hsl-light-3);
    --color-light-green-4: hsl(var(--hsl-green) var(--hsl-light-4));
    --color-light-green-4-parts: var(--hsl-green) var(--hsl-light-4);
    --color-dark-blue-0: hsl(var(--hsl-blue) var(--hsl-dark-0));
    --color-dark-blue-0-parts: var(--hsl-blue) var(--hsl-dark-0);
    --color-dark-blue-1: hsl(var(--hsl-blue) var(--hsl-dark-1));
    --color-dark-blue-1-parts: var(--hsl-blue) var(--hsl-dark-1);
    --color-dark-blue-2: hsl(var(--hsl-blue) var(--hsl-dark-2));
    --color-dark-blue-2-parts: var(--hsl-blue) var(--hsl-dark-2);
    --color-dark-blue-3: hsl(var(--hsl-blue) var(--hsl-dark-3));
    --color-dark-blue-3-parts: var(--hsl-blue) var(--hsl-dark-3);
    --color-dark-blue-4: hsl(var(--hsl-blue) var(--hsl-dark-4));
    --color-dark-blue-4-parts: var(--hsl-blue) var(--hsl-dark-4);
    --color-light-blue-0: hsl(var(--hsl-blue) var(--hsl-light-0));
    --color-light-blue-0-parts: var(--hsl-blue) var(--hsl-light-0);
    --color-light-blue-1: hsl(var(--hsl-blue) var(--hsl-light-1));
    --color-light-blue-1-parts: var(--hsl-blue) var(--hsl-light-1);
    --color-light-blue-2: hsl(var(--hsl-blue) var(--hsl-light-2));
    --color-light-blue-2-parts: var(--hsl-blue) var(--hsl-light-2);
    --color-light-blue-3: hsl(var(--hsl-blue) var(--hsl-light-3));
    --color-light-blue-3-parts: var(--hsl-blue) var(--hsl-light-3);
    --color-light-blue-4: hsl(var(--hsl-blue) var(--hsl-light-4));
    --color-light-blue-4-parts: var(--hsl-blue) var(--hsl-light-4);
    --color-dark-purple-0: hsl(var(--hsl-purple) var(--hsl-dark-0));
    --color-dark-purple-0-parts: var(--hsl-purple) var(--hsl-dark-0);
    --color-dark-purple-1: hsl(var(--hsl-purple) var(--hsl-dark-1));
    --color-dark-purple-1-parts: var(--hsl-purple) var(--hsl-dark-1);
    --color-dark-purple-2: hsl(var(--hsl-purple) var(--hsl-dark-2));
    --color-dark-purple-2-parts: var(--hsl-purple) var(--hsl-dark-2);
    --color-dark-purple-3: hsl(var(--hsl-purple) var(--hsl-dark-3));
    --color-dark-purple-3-parts: var(--hsl-purple) var(--hsl-dark-3);
    --color-dark-purple-4: hsl(var(--hsl-purple) var(--hsl-dark-4));
    --color-dark-purple-4-parts: var(--hsl-purple) var(--hsl-dark-4);
    --color-light-purple-0: hsl(var(--hsl-purple) var(--hsl-light-0));
    --color-light-purple-0-parts: var(--hsl-purple) var(--hsl-light-0);
    --color-light-purple-1: hsl(var(--hsl-purple) var(--hsl-light-1));
    --color-light-purple-1-parts: var(--hsl-purple) var(--hsl-light-1);
    --color-light-purple-2: hsl(var(--hsl-purple) var(--hsl-light-2));
    --color-light-purple-2-parts: var(--hsl-purple) var(--hsl-light-2);
    --color-light-purple-3: hsl(var(--hsl-purple) var(--hsl-light-3));
    --color-light-purple-3-parts: var(--hsl-purple) var(--hsl-light-3);
    --color-light-purple-4: hsl(var(--hsl-purple) var(--hsl-light-4));
    --color-light-purple-4-parts: var(--hsl-purple) var(--hsl-light-4);

    // Color settings 
    --color-normal-high-fg: var(--color-dark-gray-3);
    --color-normal-high-bg: var(--color-light-gray-3);
    --color-normal-high-fg-inv: var(--color-dark-gray-3);
    --color-normal-high-bg-inv: var(--color-light-gray-3);
    --color-normal-high-fg-parts: var(--color-dark-gray-3-parts);
    --color-normal-high-bg-parts: var(--color-light-gray-3-parts);
    --color-normal-high-fg-inv-parts: var(--color-dark-gray-3-parts);
    --color-normal-high-bg-inv-parts: var(--color-light-gray-3-parts);
    --color-normal-fg: var(--color-dark-gray-2);
    --color-normal-bg: var(--color-light-gray-2);
    --color-normal-fg-inv: var(--color-dark-gray-2);
    --color-normal-bg-inv: var(--color-light-gray-2);
    --color-normal-fg-parts: var(--color-dark-gray-2-parts);
    --color-normal-bg-parts: var(--color-light-gray-2-parts);
    --color-normal-fg-inv-parts: var(--color-dark-gray-2-parts);
    --color-normal-bg-inv-parts: var(--color-light-gray-2-parts);
    --color-normal-low-fg: var(--color-dark-gray-3);
    --color-normal-low-bg: var(--color-light-gray-1);
    --color-normal-low-fg-inv: var(--color-dark-gray-3);
    --color-normal-low-bg-inv: var(--color-light-gray-1);
    --color-normal-low-fg-parts: var(--color-dark-gray-3-parts);
    --color-normal-low-bg-parts: var(--color-light-gray-1-parts);
    --color-normal-low-fg-inv-parts: var(--color-dark-gray-3-parts);
    --color-normal-low-bg-inv-parts: var(--color-light-gray-1-parts);
    --color-danger-fg: var(--color-dark-red-1);
    --color-danger-bg: var(--color-light-red-4);
    --color-danger-fg-inv: var(--color-dark-red-1);
    --color-danger-bg-inv: var(--color-light-red-4);
    --color-danger-fg-parts: var(--color-dark-red-1-parts);
    --color-danger-bg-parts: var(--color-light-red-4-parts);
    --color-danger-fg-inv-parts: var(--color-dark-red-1-parts);
    --color-danger-bg-inv-parts: var(--color-light-red-4-parts);
    --color-caution-fg: var(--color-dark-orange-1);
    --color-caution-bg: var(--color-light-orange-4);
    --color-caution-fg-inv: var(--color-dark-orange-1);
    --color-caution-bg-inv: var(--color-light-orange-4);
    --color-caution-fg-parts: var(--color-dark-orange-1-parts);
    --color-caution-bg-parts: var(--color-light-orange-4-parts);
    --color-caution-fg-inv-parts: var(--color-dark-orange-1-parts);
    --color-caution-bg-inv-parts: var(--color-light-orange-4-parts);
    --color-warning-fg: var(--color-dark-yellow-1);
    --color-warning-bg: var(--color-light-yellow-4);
    --color-warning-fg-inv: var(--color-dark-yellow-1);
    --color-warning-bg-inv: var(--color-light-yellow-4);
    --color-warning-fg-parts: var(--color-dark-yellow-1-parts);
    --color-warning-bg-parts: var(--color-light-yellow-4-parts);
    --color-warning-fg-inv-parts: var(--color-dark-yellow-1-parts);
    --color-warning-bg-inv-parts: var(--color-light-yellow-4-parts);
    --color-success-fg: var(--color-dark-green-1);
    --color-success-bg: var(--color-light-green-4);
    --color-success-fg-inv: var(--color-dark-green-1);
    --color-success-bg-inv: var(--color-light-green-4);
    --color-success-fg-parts: var(--color-dark-green-1-parts);
    --color-success-bg-parts: var(--color-light-green-4-parts);
    --color-success-fg-inv-parts: var(--color-dark-green-1-parts);
    --color-success-bg-inv-parts: var(--color-light-green-4-parts);
    --color-action-fg: var(--color-dark-blue-1);
    --color-action-bg: var(--color-light-blue-4);
    --color-action-fg-inv: var(--color-dark-blue-1);
    --color-action-bg-inv: var(--color-light-blue-4);
    --color-action-fg-parts: var(--color-dark-blue-1-parts);
    --color-action-bg-parts: var(--color-light-blue-4-parts);
    --color-action-fg-inv-parts: var(--color-dark-blue-1-parts);
    --color-action-bg-inv-parts: var(--color-light-blue-4-parts);
    --color-info-fg: var(--color-dark-purple-1);
    --color-info-bg: var(--color-light-purple-4);
    --color-info-fg-inv: var(--color-dark-purple-1);
    --color-info-bg-inv: var(--color-light-purple-4);
    --color-info-fg-parts: var(--color-dark-purple-1-parts);
    --color-info-bg-parts: var(--color-light-purple-4-parts);
    --color-info-fg-inv-parts: var(--color-dark-purple-1-parts);
    --color-info-bg-inv-parts: var(--color-light-purple-4-parts);
    --color-primary-action-disabled-fg: var(--color-light-blue-1);
    --color-primary-action-disabled-bg: var(--color-dark-gray-0);
    --color-primary-action-disabled-fg-inv: var(--color-light-blue-1);
    --color-primary-action-disabled-bg-inv: var(--color-dark-gray-0);
    --color-primary-action-disabled-fg-parts: var(--color-light-blue-1-parts);
    --color-primary-action-disabled-bg-parts: var(--color-dark-gray-0-parts);
    --color-primary-action-disabled-fg-inv-parts: var(--color-light-blue-1-parts);
    --color-primary-action-disabled-bg-inv-parts: var(--color-dark-gray-0-parts);
    --color-primary-action-hover-fg: var(--color-dark-blue-2);
    --color-primary-action-hover-bg: var(--color-light-blue-2);
    --color-primary-action-hover-fg-inv: var(--color-dark-blue-2);
    --color-primary-action-hover-bg-inv: var(--color-light-blue-2);
    --color-primary-action-hover-fg-parts: var(--color-dark-blue-2-parts);
    --color-primary-action-hover-bg-parts: var(--color-light-blue-2-parts);
    --color-primary-action-hover-fg-inv-parts: var(--color-dark-blue-2-parts);
    --color-primary-action-hover-bg-inv-parts: var(--color-light-blue-2-parts);
    --color-primary-action-fg: var(--color-dark-blue-2);
    --color-primary-action-bg: var(--color-light-blue-1);
    --color-primary-action-fg-inv: var(--color-dark-blue-2);
    --color-primary-action-bg-inv: var(--color-light-blue-1);
    --color-primary-action-fg-parts: var(--color-dark-blue-2-parts);
    --color-primary-action-bg-parts: var(--color-light-blue-1-parts);
    --color-primary-action-fg-inv-parts: var(--color-dark-blue-2-parts);
    --color-primary-action-bg-inv-parts: var(--color-light-blue-1-parts);
    --color-secondary-action-disabled-fg: var(--color-light-gray-3);
    --color-secondary-action-disabled-bg: var(--color-dark-gray-0);
    --color-secondary-action-disabled-fg-inv: var(--color-light-gray-3);
    --color-secondary-action-disabled-bg-inv: var(--color-dark-gray-0);
    --color-secondary-action-disabled-fg-parts: var(--color-light-gray-3-parts);
    --color-secondary-action-disabled-bg-parts: var(--color-dark-gray-0-parts);
    --color-secondary-action-disabled-fg-inv-parts: var(--color-light-gray-3-parts);
    --color-secondary-action-disabled-bg-inv-parts: var(--color-dark-gray-0-parts);
    --color-secondary-action-hover-fg: var(--color-dark-blue-2);
    --color-secondary-action-hover-bg: var(--color-light-gray-2);
    --color-secondary-action-hover-fg-inv: var(--color-dark-blue-2);
    --color-secondary-action-hover-bg-inv: var(--color-light-gray-2);
    --color-secondary-action-hover-fg-parts: var(--color-dark-blue-2-parts);
    --color-secondary-action-hover-bg-parts: var(--color-light-gray-2-parts);
    --color-secondary-action-hover-fg-inv-parts: var(--color-dark-blue-2-parts);
    --color-secondary-action-hover-bg-inv-parts: var(--color-light-gray-2-parts);
    --color-secondary-action-fg: var(--color-dark-blue-2);
    --color-secondary-action-bg: var(--color-light-gray-1);
    --color-secondary-action-fg-inv: var(--color-dark-blue-2);
    --color-secondary-action-bg-inv: var(--color-light-gray-1);
    --color-secondary-action-fg-parts: var(--color-dark-blue-2-parts);
    --color-secondary-action-bg-parts: var(--color-light-gray-1-parts);
    --color-secondary-action-fg-inv-parts: var(--color-dark-blue-2-parts);
    --color-secondary-action-bg-inv-parts: var(--color-light-gray-1-parts);

    --font-normal: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-monospace: monospace;

    --font-xs: calc(1rem * 9 / var(--scale));
    --font-sm: calc(1rem * 12 / var(--scale));
    --font-md: var(--em);
    --font-lg: calc(1rem * 22 / var(--scale));
    --font-xl: calc(1rem * 28 / var(--scale));

    --1px: calc(1rem * 1/var(--scale));
    --size-xxs: var(--1px);
    --size-xs: calc(1rem * 2/var(--scale));
    --size-sm: calc(1rem * 4/var(--scale));
    --size-md: calc(1rem * 8/var(--scale));
    --size-lg: calc(1rem);
    --size-xl: calc(2rem);
}

html,body {
    height: 100%;
}

/** Utility types */
@mixin xs_only {
    @media only screen and (max-width: 319px) {
        @content;
    }
}
@mixin sm_only {
    @media only screen and (min-width: 320px) and (max-width: 575px) {
        @content;
    }
}
@mixin md_only {
    @media only screen and (min-width: 576px) and (max-width: 991px) {
        @content;
    }
}
@mixin lg_only {
    @media only screen and (min-width: 992px) and (max-width: 1400px) {
        @content;
    }
}
@mixin xl_only {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}
@mixin sm {
    @include xs_only {
        @content;
    }
    @include sm_only {
        @content;
    }
}
@mixin md {
    @include md_only {
        @content;
    }
}
@mixin lg {
    @include lg_only {
        @content;
    }
    @include xl_only {
        @content;
    }
}

.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
    display: none;
}

:root {
    max-width: 1400px;

    @include xs_only {
        --em: calc(320px * var(--scale) / 320);
        .show-xs {
            display: revert;
        }
    }

    @include sm_only {
        --em: calc(100vw * var(--scale) / 320);
        .show-sm {
            display: revert;
        }
    }
    @include md_only {
        --em: calc(100vw * var(--scale) / 576);
        .show-md {
            display: revert;
        }
    }
    @include lg_only {
        --em: calc(100vw * var(--scale) / 992);
        .show-lg {
            display: revert;
        }
    }
    @include xl_only {
        --em: calc(1400px * var(--scale) / 992);
        .show-xl {
            display: revert;
        }
    }
}
