.Checkbox {
    display: inline-flex;
    align-items: center;
    gap: var(--size-sm);
    cursor: pointer;
}
.Checkbox-block {
    display: flex;
}
.Checkbox-info .Checkbox_circle {
    fill: var(--color-info-bg);
}
.Checkbox-success .Checkbox_circle {
    fill: var(--color-success-bg);
}
.Checkbox-warn .Checkbox_circle {
    fill: var(--color-warn-bg);
}
.Checkbox-error .Checkbox_circle {
    fill: var(--color-danger-bg);
}
.Checkbox_icon {
    display: block;
    width: var(--size-lg);
    height: auto;
    cursor: pointer;
    fill: none;
}
.Checkbox_label {
    display: contents;
    cursor: pointer;
}
