.ConnectedView {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "media" "chat" "controls";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.ConnectedView_messages {
    grid-area: chat;
    color: var(--color-panel-fg);
    background-color: var(--color-panel-bg);
    border-bottom: thin var(--color-panel-fg) solid;
    position: relative;
}
.ConnectedView_controls {
    grid-area: controls;
    padding: 1rem 1rem 0 1rem;
}
.ConnectedView_media {
    position: relative;
    grid-area: media;
    overflow: hidden;
    height: 20rem;
    padding: var(--size-sm) 0;
    color: var(--color-normal-bg);
    background-color: var(--color-normal-fg);
    border-bottom: 2px var(--color-normal-bg) solid;
}
.ConnectedView_media video {
    display: block;
    width: auto;
    height: 100%;
}
