.ConnectedControls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25rem;
}
.ConnectedControls_form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr auto auto;
}
.ConnectedControls_input {
}
.ConnectedControls_button {
}
.ConnectedControls_toolbar {
}
