.ConnectedControls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25rem;
}
.ConnectedControls_form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "send input extra";
}
.ConnectedControls_input {
    grid-area: input;
}
.ConnectedControls_send {
    grid-area: send;
}
.ConnectedControls_extra {
    grid-area: extra;
}
