.MediaPicker {
    display: grid;
    grid-template-areas:
        "media media"
        "share share"
        "video audio";
    grid-template-columns: 1fr 1fr;
}
.MediaPicker_share {
    grid-area: share;
}
.MediaPicker_previewUserMedia {
    grid-area: media;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #dddddd;
}
.MediaPicker_previewUserVideo {
    grid-area: video;
    width: 300px;
    height: 200px;
}
.MediaPicker_previewUserAudio {
    width: 300px;
    grid-area: audio;
}
.MediaPicker_previewUserAudioGain {
    grid-area: volume;
    width: 300px;
}
.MediaPicker_videoInput {
    display: flex;
    flex-direction: column;
}
.MediaPicker_audioInput {
    display: flex;
    flex-direction: column;
}
