.Modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.Modal::backdrop {
    background-color: var(--color-bg-modal); 
}
.Modal_buttons {
    margin: 1rem 0 0;
}
