.Modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.Modal::backdrop {
    background-color: hsla(var(--color-normal-low-parts) 0.5); 
}
.Modal_buttons {
    margin: 1rem 0 0;
}
