.Tabs {
    display: grid;
    grid-template-areas: "tabs" "panel";
    grid-template-rows: auto 1fr;
    padding: var(--size-xs);

    --Tabs-border: var(--color-normal-fg);
}
.Tabs_tablist {
    display: flex;
}
.Tabs_tablist .Tabs_tab:first-child {
    border-top-left-radius: var(--size-md);
}
.Tabs_tablist .Tabs_tab:last-child {
    border-top-right-radius: var(--size-md);
}
.Tabs_tab {
    grid-area: "tabs";
    border-radius: 0;
}
.Tabs_tab[aria-selected="true"] {
    color: var(--color-info-fg);
    background-color: var(--color-info-bg);
}
.Tabs_panel {
    grid-area: "panel";
    color: var(--color-normal-fg);
    background-color: var(--color-normal-bg);
    outline: var(--1px) solid var(--Tabs-border);
    padding: var(--size-sm) var(--size-md);
    box-shadow: 0 0 var(--1px) 0 var(--Tabs-border);
}
